body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightblue;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #3f2fd3;
}

.extrabutton{
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #4336f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gifbutton{
    font-size: 1.5em;
    padding: 50px 50px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
